// RED
:host ::deep .red{
	color: #ff0c00;
}

// BLUE
:host ::deep .blue{
  color: #5f54ff;
}

:host ::deep .yellow{
  color: #f4f442;
}

// TRUMP / FUMP
:host ::deep .orange{
  color: #ff8235;
}

// PARTY
.party-blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


/* VOTE YES FLAG 001 */
:host ::deep .voteYes001 {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 20;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

:host ::deep .monaFlag {

    animation: moflag 1s 0s ease infinite;
    -moz-animation: moflag 1s 0s ease infinite;
    /* Firefox */
    -webkit-animation: moflag 1s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: moflag 1s 0s ease infinite;
    /* Opera */

  @keyframes moflag {
    0%,
    100% {
    text-shadow: 
    -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
    -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
    -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
      color: #FED128;
    }
    50% {
    text-shadow: 
    -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12, 
    -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
    -.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
      color: #705C12;
    }
  }




}